{% extends "base.html" %}

{% block title %} Lista De Libros {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-agregar " href="{%  url 'crear' %}" role="button">Agregar Libro</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for libro in libros %}
                    <tr>
                        <td>{{ libro.id }}</td>
                        <td>{{ libro.titulo }}</td>
                        <td>
                        <img src="{{ libro.imagen.url }}" height="100" />

                        </td>
                        <td>{{ libro.descripcion }}</td>
                        <td>
                            <a name="" id="" class="btn btn-editar" href="{% url 'editar' libro.id %}" role="button">Editar</a>
                            <br/>
                            <br/>
                            <a name="" id="" class="btn btn-borrar" href="{% url 'eliminar' libro.id %}" role="button">Borrar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        


    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %}